body {
    background-color: black;
}

h1.css-1qw53m1-Contact {
    color: white;
}

p {
    color: white;
}

img.css-5bjcjf-Contact {
    border: 2px solid white;
}

.css-10gg5xx-Contact {
    margin-left: 50px;
}